.App {
padding-top:5rem;
min-height:100vh;
background: #3C3B3F;  
background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  
background: linear-gradient(to right, #605C3C, #3C3B3F); 
}


.navbar{
  background-color: #EF5350 !important
}